
.header{
    position: relative;
    padding-top: 30px;
    padding-bottom: 45px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: linear-gradient(90.22deg, #003366 48.33%, #008FD1 70.76%, #003366 90.82%);
    &::before{
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 15px;
        background-color: $accent-color;
        
    }
   
&_container{
    padding-left: 0;
    display: flex;
    align-items: center;
}
 &_burger {
    margin-left: auto;
 }
}
