.project {
  padding-top: 50px;
  padding-bottom: 100px;

  &_list {
    @media screen and (min-width: 1200px) {
      display: flex;
    }
  }

  &_list-item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }

    @media screen and (min-width: 1200px) {
      margin-bottom: 0;
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }

  &_title {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    text-transform: uppercase;

    color: #ffffff;
    margin-bottom: 30px;
    @media screen and (min-width: 1920px) {
      font-weight: 700;
      font-size: 48px;
      line-height: 58px;
    }

    &-second {
      margin-top: 70px;
      margin-bottom: 50px;
      @media screen and (min-width: 1920px) {
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
      }
    }
  }

  &_item {
    display: flex;
    &-image {
      @media screen and (min-width: 1920px) {
        height: 380px;
      }
    }

    &-wrapper {
      position: relative;
    }

    &-title {
      position: absolute;
      bottom: 30px;
      left: 20px;
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      text-transform: uppercase;
      color: #ffffff;
    }

    &-text {
      margin-top: -3px;
      padding-top: 25px;
      padding-bottom: 33px;
      background-color: $accent-color;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      text-align: center;

      color: #000000;
    }
  }

  &_list-second {
    @media screen and (min-width: 1200px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      flex-shrink: 1;
      gap: 30px 70px;
    }
    &-item {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &:not(:last-child) {
        margin-bottom: 50px;
      }
      @media screen and (min-width: 1200px) {
        width: 330px;
        flex-shrink: 1;
        &:not(:last-child) {
          margin-bottom: 0;
        }
      }
      @media screen and (min-width: 1920px) {
        &:not(:last-child) {
          &::before{
            content: '';
              position: absolute;
              top: 100px;
              right: -130px;
              width: 191px;
              height: 1px;
              background-color: #ffffff;
          }
         
        }
      }
    }

    &-number {
      padding: 59px 75px 59px 75px;
      background-color: #ffffff;
      font-weight: 700;

      font-size: 48px;
      line-height: 58px;
      /* identical to box height */

      text-transform: uppercase;

      color: #000000;
      border-radius: 100%;
      margin-bottom: 30px;
    }

    &-title {
      font-weight: 700;
      font-size: 22px;
      line-height: 27px;
      text-align: center;
      text-transform: uppercase;

      color: #ffffff;
      margin-bottom: 30px;
    }

    &-text {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #ffffff;
    }
  }
}
